<!DOCTYPE html>
<html>
<head>
	<title>Test #5</title>
	<link rel='stylesheet' type='text/css' href='main.css' />
</head>
<body>
	<form method="POST" action="/postData">
		<input type="text" name="car" id='car' placeholder="car" />
		<input type="text" name="model" id='model' placeholder="model">
		<button type='submit'> Add Car</button>
	</form>
		<div class='display'>
<!-- 			<div class='displayLi'>
				<span class='car'>Honda</span>
				<span class='model'>Civic</span>
				<span class='delete'>delete</span>
				<span class='update'>update</span>
			</div>
 -->		</div>

	<script src='main.js'></script>
</body>
</html>